body{
    background-color: #f6f6f6;
}
input,button{
    border: 0;
    outline: none;/*取消边框*/
}
ul,li,h1,h2,h3,h4,h5,h6,body,dd,dl,dt,form,p,input,button{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color: #999999;
    font-size: 12px;
}
i{
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
}
/*版心公共类*/
.w{
    width: 1190px;
    margin: 0 auto;
}
/*浮动的公共类*/
.fl{
    float: left;
}
.fr{
    float: right;
}
/*字体图标iconfont*/
@font-face {
    font-family: 'icomoon';
    src:  url('../iconfont/icomoon-v1.0/fonts/icomoon.eot?sj9emo');
    src:  url('../iconfont/icomoon-v1.0/fonts/icomoon.eot?sj9emo#iefix') format('embedded-opentype'),
    url('../iconfont/icomoon-v1.0/fonts/icomoon.ttf?sj9emo') format('truetype'),
    url('../iconfont/icomoon-v1.0/fonts/icomoon.woff?sj9emo') format('woff'),
    url('../iconfont/icomoon-v1.0/fonts/icomoon.svg?sj9emo#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
/*header部分-开始*/
header{
    height: 80px;
    background-color: #0A081E;
}
/*header部分-结束*/


/*快速导航栏部分-开始*/
.shortcut{
    height: 30px;
    background-color: #e3e4e5;
    border-bottom: #ddd 1px solid;
    line-height: 30px;
    color: #999999;
    font-size: 14px;
}
    /*左边的定位位置*/
.city{
    margin-left: 200px;
}
.a-city{
    color: #999999;
    font-size: 12px;
}
.a-city i{
    font-family: icomoon;
    color: red;
}
        /*位置的下拉列表*/
.dd-location{
    width: 100px;
    height: 100px;
    background-color: gold;
    display: none;
    position: absolute;
    top: 30px;
    left: 0;
}
.li-city{
    position: relative;
}
.li-city:hover{
     background-color: #fff;
 }
.li-city:hover .dd-location{/*下拉盒子*/
    display:block;
}

    /*右边的快速导航*/
.shortcut li{
    float: left;
}
.spacer{/*空格的竖线样式*/
    width: 1px;
    height: 10px;
    background-color: #ccc;
    margin: 10px 12px 0;
}
.fore1 a:nth-child(2),.fore5 a{/*免费注册和会员采购的字体颜色*/
    color: red;
}
.li-city:hover a,.hove:hover a{
    color: red;
}
.shortcut-iconfont i {/*添加iconfont字体图标*/
    font-family: icomoon;
    line-height: 12px;
}
        /*手机京东下载和二维码以及下拉的二维码*/
.fore8{
    position: relative;
}
.fore8 img{
    position: absolute;
    top: 31px;
    left: 0;
    border: 1px solid #cccccc;
    padding: 3px;
}
.mobile-pop{
    display: none;
    width: 190px;
    height: 100px;
    background-color: #ffffff;
    position: absolute;
    top: 31px;
    right: 0;

}
.fore8:hover .mobile-pop{
    display: block;
}
/*快速导航栏部分-结束*/


/*中间搜索部分*/
.hds{
    width: 100%;
    background-color: #f6f6f6;
}
.middle{
    height: 140px;
    position: relative;
}
/*logo图标部分*/
.logo{
    position: absolute;
    top: -30px;
    left: 0;
    box-shadow: 0 -10px 20px rgba(0,0,0,0.3);
}
.logo a{
    width: 190px;
    height: 170px;
    display: block;
    background: #ffffff url("../images/logo.png") no-repeat;/*因为是png图片背景是透明，所以添加了白色*/
}
/*搜索框部分*/
.form{
    width: 550px;
    height: 35px;
    background-color: pink;
    position: absolute;
    top: 25px;
    left: 320px;
    border: 2px red solid;
}
.form input{
    width: 478px;
    height: 35px;
    float: left;
    font-size: 12px;
    padding-left: 10px;/*因为会撑开盒子把button按钮给挤走，所以上面的宽度改为478px*/
}
.form input:focus{
    color: #998899;
}
.form button{
    width: 62px;
    height: 35px;
    background-color: red;
    float: left;
}
.form button i{
    font-family: icomoon;
    color: #ffffff;
    font-style: normal;
}
/*我的购物车部分*/
.shop-cart{
    width: 130px;
    height: 35px;
    position: absolute;
    top: 25px;
    right: 140px;
    background-color: #fff;
    border: 1px solid #ccc;
    line-height: 35px;
    text-align: center;
}
.shop-cart:hover{
    border: 1px solid red;
}

.shop-cart i{
    font-family: icomoon;
    font-size: 13px;
    color: red;
    margin-right: 13px;
}
.shop-cart a{
    color: red;
}
.shop-cart span{
    width: 18px;
    height: 15px;
    background-color: red;
    border-radius: 7px;
    position: absolute;
    top: 2px;
    left: 30px;
    line-height: 15px;
    color:#ffffff;
}