/*版心公共类*/
.w{
    width: 1190px;
    margin: 0 auto;
}
/*浮动的公共类*/
.fl{
    float: left;
}
.fr{
    float: right;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f4f4f4;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #999999;
}
@font-face{/*声明字体*//*位置的字体图标*/
    font-family:"location"; /*这个名字可以自己定义 */
    src: url("../iconfont/location-v1.0/fonts/icomoon.eot?7kkyc2");/*IE9 Compat Modes 这里以及下面的src后面的地址填的都是自己本地的相对地址*/
    src: url("../iconfont/location-v1.0/fonts/icomoon.eot?7kkyc22#iefix")format("embedded-opentype"),/*IE6-IE8 */
    url("../iconfont/location-v1.0/fonts/icomoon.svg?7kkyc2")format("truetype"),/*chrome、firefox、opera、Safari, Android, iOS 4.2+Safari, Android, iOS */
    url("../iconfont/location-v1.0/fonts/icomoon.woff?7kkyc2")format("woff"), /*Modern Browsers *!*!* chrome、firefox */
    url("../iconfont/location-v1.0/fonts/icomoon.ttf?7kkyc2#icomoon")format("svg");/*iOS 4.1-*/
    font-weight: normal;
    font-style:normal;
}

/*头部广告部分-star*/
.header{
    height: 80px;
    background-color: #09081C;
}
/*头部广告部分-end*/

/*导航栏-star*/
.shortcut{
    height: 30px;
    background-color: #e3e4e5;
    border-bottom: #dddddd solid 1px;
    font-size: 12px;
    line-height: 30px;
}
.shortcut li{/*给所有的li都来一个浮动*/
    float: left;
}
/*左边定位位置字体图标-star*/
.location{/*字体图标*/
    font-family: "location";/*调用字体*/
    color: red;
    font-style: normal;/*取消斜体*/
}
.li-city span{/*位置文字*/
    color: #999999;
}
.li-city span:hover{
    color: red;
}
.li-city{
    position: relative;
}
.li-city:hover{
    background-color: #fff;
}
.dd{
    width: 300px;
    /*height: 100px;*/
    background-color: #fff;
    position: absolute;
    top: 30px;
    left: 0;
    display: none;
    padding: 10px;
}
.li-city:hover .dd{
    display: block;
}
.item{
    width: 60px;
    float: left;
    padding: 2px 0;
}
.item a{
    line-height: 24px;
    padding: 0 8px;
    float: left;
}
.item a:hover{
    background-color: #f4f4f4;
    color: red;
}
.fore1 a:nth-child(2),.fore5 a{
    color: red;
}
.spacer{/*隔空线*/
    width: 1px;
    height: 10px;
    margin: 10px 12px 0;
    background-color:#cccccc;
}
.fore1 a:nth-child(1):hover,
.fore2 a:hover,
.fore3 a:hover,
.fore4 a:hover{
    color: red;
}
/*左边定位位置字体图标-end*/
/*导航栏-end*/