@font-face {
    font-family: 'icomoon';
    src:  url('../iconfont/icomoon-v1.0/fonts/icomoon.eot?sj9emo');
    src:  url('../iconfont/icomoon-v1.0/fonts/icomoon.eot?sj9emo#iefix') format('embedded-opentype'),
    url('../iconfont/icomoon-v1.0/fonts/icomoon.ttf?sj9emo') format('truetype'),
    url('../iconfont/icomoon-v1.0/fonts/icomoon.woff?sj9emo') format('woff'),
    url('../iconfont/icomoon-v1.0/fonts/icomoon.svg?sj9emo#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
.grid-bx{
    margin: 10px 0 30px 0;
    height: 470px;
    background-color: #f4f4f4;

}
.grid-col1,.grid-col2,.grid-col3{
    width: 190px;
    height: 100%;
    background-color: #fefefe;

}
/*左边列表部分*/
.grid-col1{
    position: relative;
}
.grid-col2{
    width: 790px;
    margin: 0 10px;
}
.grid-item a{
    font-size: 14px;
    color: #333;
    line-height: 25px;
    transition: color 0.2s ease;
}
.grid-item span{
    font-size: 12px;
}
.grid-col1 ul{
    padding-top: 10px;
    position: relative;
}
.grid-item{
    height: 25px;
    line-height: 25px;
    padding-left:18px;
    transition: background-color 0.2s ease;
    position: relative;
}
.grid-item:hover{
    background-color: #d9d9d9;
}
.grid-item a:hover{
    color:red;
    /*background-color: #449fdb;*/
}
    /*左边列表的左边广告部分*/
.ad{
    position: absolute;
    top: 0;
    left: -250px;
}
.ad-r{
    /*display: none;*/
    position: absolute;
    top: 0;
    left: 250px;
    z-index: 999;
    width: 0;
    height: 480px;
    background-image: url(../images/ad-r.jpg);
    transition:all 0.5s ease ;
}
.ad:hover .ad-r{
    width: 990px;
    /*display: block;*/
}

/*.cate-pop{*/
/*    display: none;*/
/*    width: 998px;*/
/*    height: 100%;*/
/*    background-color: #449fdb;*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 190px;*/
/*    z-index: 4;*/
/*}*/
/*.grid-item-ul:hover ~.cate-pop{*/
/*    display: block;*/
/*}*/





/*中间版心部分*/
.grid-col2{
    background-color:#f6f6f6;
}
    /*中间图片部分*/
.grid-focus-t{
    float: left;
    margin-right: 10px;
    position: relative;
}
.grid-focus-b a img{
    width: 190px;
    height: 150px;
}
.grid-focus-b a{
    display: block;
    margin-bottom: 7px;
}
/*左右图标*/
.icon-arrow-left,.icon-arrow-right{
    position: absolute;
    top: 50%;
    width: 25px;
    height: 35px;
    background-color: rgba(0, 0, 0, 0.15);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.icon-arrow-left{
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
}
.icon-arrow-left:hover,.icon-arrow-right:hover{
    transition: background 0.5s ease,color 0.5s ease ;
    background-color: rgba(0, 0, 0, 0.4);
}
.icon-arrow-right{
    right: 0;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
}
.icon-arrow-left,.icon-arrow-right i{
    font-family: icomoon;
    color: rgba(0255, 0255, 255, 0.8);
    text-align: center;
    line-height: 35px;
}
/*轮播图标*/
.circle{
    width: 113px;
    height: 15px;
    /*background-color: #449fdb;*/
    position: absolute;
    bottom: 20px;
    left: 30px;
}
.circle-item{
    width: 8px;
    height: 8px;
    background: rgba(255,255,255,.4);
    display: inline-block;
    border-radius: 50%;
    margin-right: 2px;
    cursor: pointer;
}
.circle-item:hover{
    border:3px solid rgba(0,0,0,0.05);
}

/*右边用户部分*/
.login{
    height: 101px;
    border-bottom: 1px solid #eeeeee;
}
.user-inner{
    position: relative;
}
    /*图标头像部分*/
.user-avatar{
    position:absolute;
    top: 13px;
    left: 20px;
}
.user-avatar a{
    width: 40px;
    height: 40px;
    display: inline-block;
    border: 2px solid #ffffff;
    border-radius: 50%;
    overflow: hidden;
}
.user-avatar a img{
    width: 40px;
    height: 40px;
}
.user-show{
    position: absolute;
    top: 16px;
    left: 74px;
}
.user-show a{
    color: #666;
}
.user-show a:hover{
    color: red;
}
.user-show p a{
    color: #333;
}
.user-show p{
    font-size: 12px;
    line-height: 20px;
}

.user-profit{
    text-align: center;
    padding-top: 67px;
}
.user-profit a{
    width: 70px;
    height: 25px;
    line-height: 25px;
    display: inline-block;
    background-color:red;
    border-radius:13px;
    margin:0 5px;
    color: #fff;
    -webkit-transition: background 0.5s ease,color 0.5s ease ;
    -moz-transition: background 0.5s ease,color 0.5s ease ;
    -ms-transition: background 0.5s ease,color 0.5s ease ;
    -o-transition: background 0.5s ease,color 0.5s ease ;
    transition: background 0.5s ease,color 0.5s ease ;
}
.user-profit a:hover{
     background-color: #c81623;
 }
.user-profit .user-plus{
      background: #363634;
      color: #e5d790;
}
.user-plus:hover{
    color: #fff;
}
.user-plus{
    -webkit-transition: background 0.5s ease,color 0.5s ease;
    -moz-transition: background 0.5s ease,color 0.5s ease;
    -ms-transition: background 0.5s ease,color 0.5s ease;
    -o-transition: background 0.5s ease,color 0.5s ease;
    transition: background 0.5s ease,color 0.5s ease;
}
    /*新闻部分*/
.news{
    height: 130px;
    border-bottom: 1px solid #eeeeee;
}
.hd{
    height: 20px;
    line-height: 20px;
    margin-bottom: 10px;
    padding: 10px 0 0;
}
.hd h5{
    display: inline-block;
    font-size: 14px;
    color: #333;
    margin-left: 15px;
}
.hd a {
    float: right;
    margin-right: 15px;
}
.hd a i{
    font-size: 10px;
    font-family: icomoon;
}

.news-list {
    height: 88px;
    margin: 0 15px;
}
.news-list li{
    overflow: hidden;
    height: 16px;
    line-height: 16px;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 5px;
}
.news-list li a{
    color: #666;
}
.news-list li a:hover{
    color: red;
}
.news-list li a span{
    display: inline-block;
    width: 35px;
    height: 16px;
    line-height: 16px;
    background-color:rgba(225,37,27,.08);
    text-align: center;
    margin-right: 6px;
    color: red;
}
    /*第三部分*/

.expand-h{
    visibility: hidden;
    overflow: hidden;
    display: none;
}
.expand-list-ul{
    margin-top: 10px;
}
.expand-li{
    float: left;
    width: 63px;
    height: 55px;
    text-align: center;
}
.expand-li a{
    display: block;
    transition: all .5s ease;
}
.expand-li a span{
    display: block;
    line-height: 25px;
    color:#000000;
}
.expand-li a i{
    position:relative;
}
.expand-li a i,.expand-li img{
    width: 28px;
    height: 28px;
    margin: 0 auto;
    display: block;
}
.expand-li img{
    position: absolute;
    top: 0;
    left: 0;
}
.expand-li:hover .expand-a{
    display: none;
}
.expand-li:hover .expand-h{
    display: block;
    visibility:visible;
    margin: 0 auto;
 }
.expand-li:hover span{
    color:red;
    transition:color 0.5s ease ;
  }






/*下面中间版心部分*/
.ban-jap-top{
    height: 260px;
    position: relative;
}
.seckill-countdown{
    float: left;
}
.seckill-list{
    float: left;
    width: 800px;
    height: 100%;
    background-color: #449fdb;
}
.seckill-brand{
    width: 200px;
    height: 260px;
    background-color: #e74c3c;
    float: left;
}